*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}
footer,
header,
nav,
section,
main {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
